<div class="tree-node-container">
  <form [formGroup]="group" class="function-selector-container">
    <div class="field-container">
      <mat-form-field>
        <mat-label>Function</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let function of availableTypes" [value]="function">
            {{ Functions[function].name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="field-container" *ngIf="group.value.type === FunctionType.CONSTANT">
      <mat-form-field>
        <mat-label>Value</mat-label>
        <input matInput type="number" id="constant" formControlName="constant" required />
      </mat-form-field>
    </div>
    <div class="field-container" *ngIf="group.value.type === FunctionType.INTEGRAL" formGroupName="range">
      <mat-form-field>
        <mat-label>a</mat-label>
        <input matInput type="number" id="integralA" formControlName="a" required />
      </mat-form-field>
      <mat-form-field>
        <mat-label>b</mat-label>
        <input matInput type="number" id="integralB" formControlName="b" required />
      </mat-form-field>
    </div>
  </form>
  <div class="function-arguments-container" *ngIf="node.args as args">
    <app-tree-node
      *ngFor="let argNode of args; let i = index"
      [exclude]="[FunctionType.INTEGRAL]"
      [node]="argNode"
      (nodeChange)="argumentChange($event, i)"
    ></app-tree-node>
  </div>
</div>
