.graphic {
    display: block;
    margin: 0 auto;
}

.buttons {
    display: flex;
    justify-content: center;
    button {
        margin-top: 10px;
        margin-left: 5px;
        background-color: #673ab7;
        color: white;
    }
}